




body {
  background-image: url("http://img0.gtsstatic.com/wallpapers/cc5ea2f85865741869d481ad21fec357_large.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  color: #006633;
  font-family: serif;
  margin-top: 25px;
  text-align: center;
}

img {
  padding-bottom: 5px;
  padding-top: 5px ;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px #009966;
}

button {
  margin-top: 5px;
}

#rollButton {
  margin-top: 2px;
}

#players {
  border: 2px;
  font-weight: bold;
  padding-bottom: 2px;
}

#eventEffect {
  color: #006633;

}
